.checkoutProduct{
  display: flex;
  margin: 50px;
  line-height: 8px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  
}
.checkoutProduct__title{
  line-height: 20px;
  font-size: 14px;
}
.checkoutProduct__image{
  width: 200px;
}

.checkoutProduct__info{
  margin-left: 50px;
}
.checkoutProduct__rating{
  display: flex;
  transition: 0.15s all ease-in-out;
}

.checkoutProduct button{
  background: #F7CA00;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  border: none;
  margin-top: 10px;
  color: #111;
  width: fit-content;
  padding: 5px 20px;
  line-height: 17px;
}
.checkoutProduct button:hover{
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
.in__stock{
  color: #439548;
  font-size: 15px;
}
.in__stock:hover{
  text-decoration: underline;
  cursor: pointer;
}