
.rotating_images{
  width: 100%;
  height: 700px;
  z-index: -1;
  margin-bottom: 0px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}
.back_to_school{
  height: 700px;
}
.home__row{
  display: flex;
  z-index: 1;
  justify-content: center;
  background: #EAEDED;
}
.groceries_image{
  position: relative;
}
.order_now{
  display: block;
  margin: 0 auto;
  border: 1px solid white;
  background-color: green;
  color: white;
  font-size: 40px;
  position: fixed;
  z-index: 1;
}

.home__row  .amazon_services{
  width: 500px;
  height: 400px;
  margin: 20px;
}
.amazon_listed_services{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.amazon_listed_services img{
  /* width: 100%; */
  border-radius: 10px;
  display: block;
  height: 300px;
  transition: transform 0.5s;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}
.amazon_listed_services img:hover{
  transform: scale(1.1);
  
}

.navFooterBackToTop span {
  text-align: center;
  color: white;
  background-color: #485769;
  padding: 10px 0;
  line-height: 19px;
  font-size: 35px;
  margin-top: 40px;
  transition: 0.15s all ease-in-out;
}

.navFooterBackToTop span:hover{
  font-size: 45px;
  cursor: pointer;
  padding: 5px 0;
}
