.payment__container > h1{
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
  overflow: hidden;
}
.payment__container > h1 > a{
  text-decoration: none;
}
.payment__section{
  display: flex;
  padding: 20px 30px 100px 30px;
  margin: 0 20px;
  border-bottom:  1px solid lightgray;
}
.payment__title{
  flex: 0.2;
}
.review__items, .payment__address{
  flex: 0.7;
}

.payment__method__section{
  flex: 0.4;
}
.Delivery__address__form,
.billing__address_form {
  display: block;
  width: 100px;
  height: 100px;
}

.Delivery__address__form input,
.billing__address_form input {
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  padding: 5px 10px;
  border-radius: 10px;
}
.order__summary {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  width: 400px;
}

.order__summary__container {
  flex: 0.8;
}